body {
    background: black;
    color: white;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.cards-container {
    display: flex;
    gap: 20px; /* Добавляем отступы между карточками */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    background: black;
    min-height: 400px; /* Устанавливаем минимальную высоту карточек */
    position: relative; /* Для абсолютного позиционирования элементов внутри */
    transition: transform 0.3s, box-shadow 0.3s; /* Плавное изменение масштаба и тени */
}

.card:hover {
    transform: scale(1.05); /* Масштабируем карточку при наведении */
    box-shadow: 0 4px 8px rgba(255, 88, 88, 0.5); /* Добавляем тень при наведении */
}

.card-photo {
    width: 300px;
    border-radius: 20px;
    display: block;
}

.card-text {
    margin: 10px 0;
    text-align: left;
}

.card-button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    position: absolute; /* Абсолютное позиционирование кнопки */
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение фона и цвета текста */
}

.card-button:hover {
    background-color: #fd7c7c;
    color: black;
}

.card .sale-icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

